.variants-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  /* justify-items: center; */
}

.variants-list__item {
  text-align: center;
  transition: transform 0.3s;
}

.variants-list__item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.variants-list__link {
  display: block;
}

@media (max-width: 1024px) {
  .variants-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .variants-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .variants-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 320px) {
  .variants-list {
    grid-template-columns: 1fr;
  }
}
